body {
    font-family: "Ubuntu", sans-serif;
}

h2 {
    font-family: "Open Sans", sans-serif;
    border-bottom: 1px solid #eee;
}

.post-title a{
    color: black;
}

.container {
    padding: 0 10%;
}

form {
    padding: 2em 0;
}

label {
    float: left;
}

.inputwrap {
    display: block;
    overflow: hidden;
    padding-left: 1em;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    margin: 0.5em 0;
}

input[type="submit"] {
    width: 100%;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1em;
    cursor: pointer;
}

.field-info {
    margin: 0.5em 0;
    padding: 1em;
    background: #90c3d4;
}

.error {
    margin: 0.5em 0;
    padding: 1em;
    background: #e09999;
}

nav {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #eee;
}

nav a {
    color: blue;
}

a.site-name {
    font-size: 1.2em;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.site-name-area {
    padding: 1em;
}
