{% extends 'base.twig' %}
{% block pagetitle %}404 not found{% endblock %}
{% block content %}
<div class="card">
    <h2 class="card-title">The page you're looking for could not be found.</h2>
    <div class="card-body">
        That's all we know, really.
    </div>
</div>
{% endblock %}
