<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block pagetitle %}{% endblock %} - pta2002</title>
        <link rel="stylesheet" href="/css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic|Open+Sans:400,300' rel='stylesheet' type='text/css'>
    </head>
    <body>
        {% block body %}
        <nav>
            {% block nav %}
            <div class="site-name-area">
                <a href="{{ path_for("home") }}" class="site-name">pta2002</a>
            </div>
            {% if user %}

            {% else %}

            {% endif %}
            {% endblock %}
        </nav>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        {% endblock %}
    </body>
</html>
