{% extends 'base.twig' %}
{% block pagetitle %}Home{% endblock %}
{% block content %}
    {% if posts is empty %}
        No posts yet!
    {% else %}
        {% for post in posts %}
        <div class="post">
            <h2 class="post-title"><a href="{{ path_for('viewpost', {'permalink': post.permalink })}}">{{ post.title }}</a></h2>
            <div class="post-body">
                {{ post.body }} <!-- TODO: Render markdown -->
            </div>
            <div class="post-info">
                Posted on <span class="date">{{ post.posted }}</span> by <span class="author">{{ post.authorid }}</span>
            </div>
        </div>
        {% endfor %}
    {% endif %}
{% endblock %}
