{% extends 'base.twig' %}
{% block pagetitle %}Already logged in{% endblock %}
{% block content %}
<div class="card">
    <h2 class="card-title">You're already logged in!</h2>
    <div class="card-body">
        You can't do that, because you are already logged in!
    </div>
</div>
{% endblock %}
