{% extends 'base.twig' %}
{% block pagetitle %}Login{% endblock %}
{% block content %}
<div class="card">
    <h2 class="card-title">Login</h2>
    <div class="card-body">
        {% if errors %}
        <div class="error">
            Login failed:
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <form action="{{path_for('login')}}" method="post">
            <div class="line">
                <label for="username">Username</label>
                <span class="inputwrap"><input type="text" name="username" id="username" value="{{ username }}"></span
            </div>
            <div class="line">
                <label for="password">Password</label>
                <span class="inputwrap"><input type="password" name="password" id="password"></span>
            </div>
            <div class="line">
                <input type="submit" value="Login!">
            </div>
        </form>
    </div>
</div>
{% endblock %}
