{% extends 'base.twig' %}
{% block pagetitle %}Register{% endblock %}
{% block content %}
<div class="card">
    <h2 class="card-title">Register</h2>
    <div class="card-body">
        This account is required to comment and rate posts. If you want to, you can complete your profile later.

        {% if errors %}
        <div class="error">
            Registration failed:
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <form action="{{path_for('register')}}" method="post">
            <div class="line">
                <label for="username">Username</label>
                <span class="inputwrap"><input type="text" name="username" id="username" value="{{ username }}"></span>
                <div class="field-info">
                    1-16 characters<br>
                    Your username will be used to login, and will be publicly visible.<br>
                    This cannot be changed.
                </div>
            </div>
            <div class="line">
                <label for="password">Password</label>
                <span class="inputwrap"><input type="password" name="password" id="password"></span>
                <label for="passwordconfirm">Confirm password</label>
                <span class="inputwrap"><input type="password" name="passwordconfirm" id="passwordconfirm"></span>
                <div class="field-info">
                    The only requirement here is that the password is at least 8 characters long. It can be changed afterwards.
                </div>
            </div>
            <div class="line">
                <input type="submit" value="Register!">
            </div>
        </form>
    </div>
</div>
{% endblock %}
