{% extends 'base.twig' %}
{% block pagetitle %}Success!{% endblock %}
{% block content %}
<div class="card">
    <h2 class="card-title">Success!</h2>
    <div class="card-body">You can now <a href="{{ path_for('login') }}">login!</a></div>
</div>
{% endblock %}
