{% extends 'base.twig' %}
{% block pagetitle %}{{ post.title }} by {{ post.authorid }}{% endblock %}
{% block content %}
<div class="post">
    <h2 class="post-title">{{ post.title }}</h2>
    <div class="post-body">
        {{ post.body }} <!-- TODO: Render markdown -->
    </div>
    <div class="post-info">
        Posted on <span class="date">{{ post.posted }}</span> by <span class="author">{{ post.authorid }}</span>
    </div>
</div>
{% endblock %}
